body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg1);
}

.courses h2{
    text-align: center;
    margin-bottom: 4rem;
}

.courses{
    margin-top: 1rem;
}

.course__image img{
    height: 15rem;
}

.courses__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.course{
    background: var(--color-bg1);
    text-align: center;
    border: 1px solid white;
}

.course:hover{
    background: transparent;
    border-color: var(--color-primary);
    transition: var(--transition);
}

.course__info{
    padding: 2rem;
}

.course__info p{
    margin: 1.2rem 0 2rem;
    font-size: 0.9rem;
}
